---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A snippet about Phaylali's life"
  pubDate={new Date("September 11 2023")}
  heroImage="/raiden shogun roll safe meme.webp"
>
  <p>
    Greetings Earthlings, my name is Phaylali, I'm from Morocco 🇲🇦 , 28 y.o. an
    INFJ type personality, a Manchester United fan since 2007, I stream
    sometimes games like GTA V, Rust, CSGO, Skyrim, Genshin Impact ... I also
    tinker with software development and programming (especially flutter,
    node.js, next.js and now bun/astro), AI Image Generation using Stable
    Diffusion and I enjoy everything around tech and locally hosted AI
    solutions...
  </p>
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <td>CPU:</td>
        <td>Amd Ryzen 5 5600G</td>
      </tr>
      <tr>
        <td>CPU COOLER:</td>
        <td>Ryzen Wraith Stealth Stock Cooler</td>
      </tr>
      <tr>
        <td>MOTHERBOARD:</td>
        <td>Asus TUF Gaming X570-Plus</td>
      </tr>
      <tr>
        <td>MEMORY:</td>
        <td>HP V8 DDR4 16G (8X2) 3600mhz RGB</td>
      </tr>
      <tr>
        <td>STORAGE:</td>
        <td>Kingston NV1 NVME SSD 1Tb</td>
      </tr>
	  <tr>
        <td>VIDEO CARD:</td>
        <td>XFX Speedster QICK 319 AMD Radeon™ RX 6700 XT Black</td>
      </tr>
	  <tr>
        <td>CASE:</td>
        <td>Frontier Trendsonic Neptune 07A-2</td>
      </tr>
	  <tr>
        <td>PSU:</td>
        <td>Frontier AcePower FP650 650W 80+ Bronze Black Version</td>
      </tr>
	  <tr>
        <td>CASE FANS:</td>
        <td>Frontier X Series RGB</td>
      </tr>
	  <tr>
        <td>WORK OS:</td>
        <td>Archlinux+Hyprland</td>
      </tr>
	  <tr>
        <td>GAMING OS:</td>
        <td>Ghost Spectre Superlite Windows 11</td>
      </tr>
	  <tr>
        <td>MONITOR:</td>
        <td>Asus TUF Gaming VG24VQE Curved Gaming Monitor | 23.6 inch 165Hz</td>
      </tr>
	  <tr>
        <td>DESK MAT:</td>
        <td>Razer Goliathus</td>
      </tr>
	  <tr>
        <td>HEADSET:</td>
        <td>Kotion Each GS100</td>
      </tr>
	  <tr>
        <td>PHONE:</td>
        <td>Google Pixel 6</td>
      </tr>
	  <tr>
        <td>KEYBOARD: </td>
        <td>Epomaker TH80 Pro - ANSI / Theory - MDA / Gateron Pro Yellow Switch</td>
      </tr>
    </table>
  </div>
</Layout>
