---
import Layout from '../layouts/Layout.astro';
---

<Layout
  description="Projects made by Phaylali and the progress towards Omniversify"
  title="Phaylali's Progress/Projects"
>
<header class="py-8 lg:py-10">
    <div class="mx-auto max-w-7xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
      <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">Coming Soon</h1>
    </div>
  </header>
</Layout>
